* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  width: 100%;
  height: 200vh;
  background-color: aqua;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.parentcard {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 38%;
  width: 17%;
  background-color: black;
  color: white;
  border-radius: 10px;
}

#cookie {
  margin-top: 20px;
  padding-left: 20px;
}

#cookie svg {
  transform: rotate(270deg);
  height: 60px;
  width: auto;
}

.child-card {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.child-card svg:hover{
    scale: 120%;
    width: auto;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.cookie-text {
  padding-left: 20px;
  margin-top: 30px;
  width: 80%;
}


.cookie-btn{
    width: 90%;
    margin-left: 15px;
    margin-top: 15px;
    height: 45px;
    font-weight: 500;
    font-size: large;
    border-radius: 10px;
    cursor: pointer
}

.cookie-btn:hover{
    font-size: larger;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}