*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#tabs-group{
    display: flex;
    gap: 40px;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    background-color: rgb(186, 186, 186);
}

#tabs-group p:hover{
    cursor: pointer;
}

#second{
    display: none;
}

#third{
    display: none;
}

#fourth{
    display: none;
}

